@import "settings";
@import "foundation";

// Or selectively include components
 @import
//"foundation/components/accordion";
//   "foundation/components/alert-boxes";
 "foundation/components/block-grid",
 //"foundation/components/breadcrumbs";
 //"foundation/components/button-groups";
//   "foundation/components/buttons";
//   "foundation/components/clearing";
 //"foundation/components/dropdown";
//"foundation/components/dropdown-buttons";
//   "foundation/components/flex-video";
//"foundation/components/forms";
"foundation/components/grid";
//   "foundation/components/inline-lists";
//   "foundation/components/joyride",
//   "foundation/components/keystrokes";
//   "foundation/components/labels",
//   "foundation/components/magellan";
//   "foundation/components/orbit";
//   "foundation/components/pagination";
 //"foundation/components/panels";
//   "foundation/components/pricing-tables";
//   "foundation/components/progress-bars";
//   "foundation/components/reveal";
//   "foundation/components/side-nav";
//   "foundation/components/split-buttons";
//   "foundation/components/sub-nav";
//   "foundation/components/switches";
//   "foundation/components/tables";
//   "foundation/components/tabs";
//   "foundation/components/thumbs";
//   "foundation/components/tooltips";
 //"foundation/components/top-bar";
//   "foundation/components/type";
//   "foundation/components/offcanvas";
//   "foundation/components/visibility";


//layout mobile first, media queries for larger screens//

section.LanguagesRow{
  @include grid-row($behavior:nest-collapse);
}
  

section.LanguagesColumn{
  @include grid-column($columns:11,$center:true);
  }

section.LanguagesRow section.LanguagesColumn ul.flags{
  @include inline-list;
  float:right;
  margin:0.5rem 0rem 0rem 0rem;
}

.masthead,.introduction,.location-section,.question-section,.content-footer,.aside {
	@include grid-row();
  }

.masthead,.introduction,.location-section,.question-section,.content-footer,.aside,.intro-image,.location-image,.question-image,intro-text,.location-text,.question-text {
  //border:solid red 1px;
  text-align:center;
  }

@media #{$medium-up} {
.masthead,.introduction,.location-section,.question-section,.content-footer,{
 @include grid-row();
	aside.mast-image {
	@include grid-column (4);
	}
	aside.mast-text {
	@include grid-column (8);
 }

 aside.intro-image,.location-image,.question-image{
 	@include grid-column (4); }
 	 aside.intro-text,.location-text,.question-text{
 	  	@include grid-column (8); 
}
  }
 }

.separator{
		@include grid-row();
}

//end of layout, 

//design starts here//

.body{
font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.02);
font-size:40px;
  }

.masthead h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  font-weight:900;
}

h1, h2, h3 ,h4, h5,{
  font-family: 'Shadows Into Light', cursive;
  font-weight: 900;
  }

footer h2 {
  font-weight: 600;
    font-size: 25px;
    padding-bottom:50px;
    line-height:200%;
  }

aside.mast-text {
	padding-top:50px;
}

.mast-image{
padding-top:15px;
}

.mast-image img {
	width: 300px;
	height: 300px;
	border-radius: 160px;
	-webkit-border-radius: 160px;
	-moz-border-radius: 160px;	
}

aside img {
	width: 260px;
	height: 260px;
	border-radius: 160px;
	-webkit-border-radius: 160px;
	-moz-border-radius: 160px;	
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  opacity: 0.8;
}

.intro-text,{
	padding-top:15px;
}

.location-text{
		padding-top:20px;
}
